/* font icon */
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?s5eevs');
  src:  url('fonts/icomoon.eot?s5eevs#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?s5eevs') format('truetype'),
    url('fonts/icomoon.woff?s5eevs') format('woff'),
    url('fonts/icomoon.svg?s5eevs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
  content: "\e900";
}
.icon-file-download:before {
  content: "\e901";
}
.icon-patreon:before {
  content: "\e902";
}
.icon-youtube:before {
  content: "\e903";
}
.icon-clock2:before {
  content: "\e94f";
}

/* end font icon */


body {
  font-family: 'Nunito', sans-serif;
  color: #333;
}

.hero {
  padding: 8rem 0 6rem 0;
}

.hero-header {
  font-weight: 700;
  font-size: 3rem;
}

.hero-subheader {
  font-size: 1.6rem;
}

.hero-description {
  font-size: 1.3rem;
}

code {
  background-color: #f5f9fb;
  border-radius: 4px;
  font-size: 80%;
  padding: .2538rem .5167rem .3875rem;
  position: relative;
  top: -.1rem;
}
