body {
  font-family: 'Nunito', sans-serif;
  color: #333;
}

.hero {
  padding: 8rem 0 6rem 0;
}

.hero-header {
  font-weight: 700;
  font-size: 3rem;
}

.hero-subheader {
  font-size: 1.6rem;
}

.hero-description {
  font-size: 1.3rem;
}

code {
  background-color: #f5f9fb;
  border-radius: 4px;
  font-size: 80%;
  padding: .2538rem .5167rem .3875rem;
  position: relative;
  top: -.1rem;
}
